<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
      body{
          padding:50px;
      }
        h1 {
            color: red;
            font-weight: bold;
        }

        p {
            font-size: 22px;
            font-weight: bold;
            
        }
    </style>
</head>
<body>

  <h1>     UPPPPS :( </h1><br />
  <p>Sorry, we couldn't find the page you were looking for.<br />You may have entered the address of this page incorrectly or the page may be corrupted. </p>
</body>
</html>

