
<head>
  <!--<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6a-->uU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#7952b3">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap fs-5 ">
    <ul class="nav me-auto ">
      <li class="nav-item"><a routerLink="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/aboutUs" class="nav-link link-body-emphasis px-2">About Us</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link link-body-emphasis px-2">Contact</a></li>
      <li class="nav-item"><a routerLink="/commentsuggestion" class="nav-link link-body-emphasis px-2">Complaint and Suggestion</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item ">
        <a class="dropdown nav-link link-body-emphasis px-2" routerLink="/basket">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
          Cart
          <div class="dropdown-menu">
            <div>

            </div>
            <div class="d-flex flex-column" style="width:350px">
              
              <div *ngFor="let cartItem of cartService.cartItems">
                <div class=" d-flex align-items-end flex-column mb-3">
                  <div class="p-2"> <h5 class="text-danger" (click)="removeFromCart(cartItem.item.id)">X</h5> </div>
                </div>
                <div class="container" >
                  <div class="cartItemDiv d-flex align-items-center justify-content-around">
                    <div class="col-4" >
                      <img style="border:1px solid black" src="assets/img/{{cartItem.item?.id}}.jpg" class="card-img-top" alt="..." width="90" height="90">
                    </div>
                    <div class="cartItDiv col-8 text-center">
                      <h5> <span class="cartItName"> {{cartItem.item.name}}  </span>x <span class="ms-2 fw-semibold"> {{cartItem.quantity}}</span> </h5>
                    </div>
                  </div>
                </div>


              </div>
              <h5 class="fw-bold text-success text-center"><hr /> Total: {{cartService.total}} $ </h5>
              
            </div>

            <!--<div class="d-flex justify-content-center align-items-center flex-column">
              <div *ngFor="let cartItem of cartService.cartItems">
                <div class="cart">
                  <span> {{cartItem.item.name}}: <span class="ms-2 fw-semibold"> {{cartItem.quantity}}</span> </span>
                </div>
              </div>
              <h5 class="fw-bold text-success"><hr /> Total: {{cartService.total}} $ </h5>
            </div>-->


          </div>
        </a>
      </li>
      <li class="nav-item"><a routerLink="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
      <li class="nav-item"><a routerLink="/register" class="nav-link link-body-emphasis px-2">Sign up</a></li>
    </ul>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
      <span class="fs-2 fw-bold" style="color:orange">COMPANY X</span>
    </a>
  </div>
</header>
<div class="sideBar container">
  <div class="nav-scroller py-1 mb-2 mt-3  ">
    <nav class=" nav d-flex justify-content-between">
      <!-- Example single danger button -->
      <a class="nav-link px-3 p-3 fw-bold fs-5" href="/item" style="background-color:whitesmoke" aria-expanded="false">
        All Items
      </a>
      <div class="dropdown nav-item text-nowrap" *ngFor="let cat of Categories " >
        <!--//[class.active]="cat==selectedCategory"-->
        <a class="nav-link px-3 p-3 fw-bold fs-5 " href="/item"  [class.active]="cat==categoryService.selectedCategory" (click)="changeCategory(cat)"  aria-expanded="false">
          {{cat.categoryName}}
        </a>
      </div>

    </nav>
  </div>

</div>

